body{width:100%; margin:0 auto; padding:0; font-size:14px; line-height:24px; font-family:"Microsoft Yahei", serif, sans-serif, Arial, "MS Serif"; }
div,p,span,a,table,tr,td,input,img,form,h1,h2,h3,h4,h5,h6,iframe{
	margin: 0;
	/* [disabled]padding:0; */
}
ul,li,ol{margin:0; padding:0; list-style-type:none;}
img{border:none;}

a:link,a:visited {color:#000; text-decoration:none;}
a:hover {color:#000; text-decoration:none;}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}

input, textarea, select, button, meter, progress {
    -webkit-appearance:none;
    writing-mode:horizontal-tb;
    outline:none;
}

input[type=radio] {
    -webkit-appearance:radio;
}

input[type=checkbox] {
    -webkit-appearance:checkbox;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: rgb(170, 170, 170); } 
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(170, 170, 170); } 
input::-moz-placeholder, textarea::-moz-placeholder { color: rgb(170, 170, 170); } 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: rgb(170, 170, 170); }

