.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

div.content-warpper {width: 100%;overflow: hidden;padding-top: 50px;}


div.login-box {width: 100%;overflow: hidden;}

div.post-list {width: 100%;overflow: hidden;padding-top: 50px;}
div.post-list a {display: block;overflow: hidden;}

.post-item {width: 100%;overflow: hidden;margin: 10px 0;border-bottom: 1px solid #ddd;position:relative;}
.post-item .post-title {width: 100%;height: 20px;overflow: hidden;float: left;line-height: 20px;}
.post-item .post-title h2 {font-size: 16px;float: left;}
.post-item .post-title span {font-size: 12px;color: #969696;float: right;}
.post-item .post-summary {width: 100%;margin: 5px auto 0 auto;overflow: hidden;float: left;}
.post-item .post-summary p {font-size: 12px;color: #969696}
.post-item .post-footer {width: 100%;overflow: hidden;float: left;height: 15px;line-height: 15px;margin: 5px 0;}
.post-item .post-footer span {font-size: 12px;color: #969696;}

.post-option {height:100%;position:absolute;right:calc(-42px * 2);top:0;overflow:hidden;}
.post-option .post-option-left {height:100%;float:right;overflow:hidden;}
.post-option .post-option-left .button {width:36px;height:36px;float:right;border-radius:36px;margin:22px auto 22px 6px;text-align:center;line-height:36px;color:#FFF;font-size:24px;}
.post-option .post-option-right {height:100%;float:right;overflow:hidden;}
.post-option .post-option-right .button-item {height:100%;width:36px;float:right;overflow:hidden;margin-left:6px;position:relative;}
.post-option .post-option-right .button {width:36px;height:36px;border-radius:36px;margin-top: -18px;text-align:center;line-height:36px;color:#FFF;font-size:24px;position:absolute;top:50%;cursor:pointer;}
.post-option .post-option-right .del {background-color:#d30000;cursor:pointer;}
.post-option .post-option-right .edit {background-color:#969696;font-size:18px;line-height:38px;}
.post-option .post-option-right .move {background-color:#969696;line-height:38px;}

.class-global-option {width: 100%;overflow: hidden;margin: 10px 0;position:relative;}
.class-global-option .option-item {width: 49%;height:50px;overflow: hidden;border: 2px dashed #ddd;position:relative;border-radius:7px;cursor:pointer;text-align:center;line-height:50px;}
.class-global-option .class-add {float:left;}
.class-global-option .class-levelup {float:right;}

#class_set_view {width:300px;border: 2px dashed #565656;box-sizing:border-box;position:absolute;top:calc(25% - 50px);left:calc(50% - 150px);border-radius:7px;background-color:#FFF;z-index:99999;overflow:hidden;display:none;}
#class_set_view .set-name{width:100%;height:56px;float:left;}
#class_set_view .set-name input[type="text"]{width:90%;height:24px;margin:16px auto;border:0;display:block;line-height:24px;}
#class_set_view .set-button{width:100%;height:40px;float:left;}
#class_set_view .set-button .set{width:50%;height:100%;float:left;cursor:pointer;text-align:center;line-height:40px;background-color:#ddd;}
#class_set_view .set-button .cancel{width:50%;height:100%;float:left;cursor:pointer;text-align:center;line-height:40px;background-color:#808080;}

.class-item {width: 100%;overflow: hidden;margin: 10px 0;border-bottom: 1px solid #ddd;position:relative;}
.class-name {width: 100%;height: 20px;overflow: hidden;float: left;line-height: 20px;}
.class-name h2 {font-size: 16px;float: left;}
.class-summary {width: 100%;margin: 5px auto 0 auto;overflow: hidden;float: left;}
.class-summary span {font-size: 12px;color: #969696}
.class-footer {width: 100%;overflow: hidden;float: left;height: 15px;line-height: 15px;margin: 5px 0;}
.class-footer span {font-size: 12px;color: #969696;}

.class-option {height:100%;position:absolute;right:calc(-42px * 3);top:0;overflow:hidden;}
.class-option .class-option-left {height:100%;float:right;overflow:hidden;}
.class-option .class-option-left .button {width:36px;height:36px;float:right;border-radius:36px;margin:22px auto 22px 6px;text-align:center;line-height:36px;color:#FFF;font-size:24px;}
.class-option .class-option-right {height:100%;float:right;overflow:hidden;}
.class-option .class-option-right .button-item {height:100%;width:36px;float:right;overflow:hidden;margin-left:6px;position:relative;}
.class-option .class-option-right .button {width:36px;height:36px;border-radius:36px;margin-top: -18px;text-align:center;line-height:36px;color:#FFF;font-size:24px;position:absolute;top:50%;cursor:pointer;}
.class-option .class-option-right .del {background-color:#d30000;}
.class-option .class-option-right .edit {background-color:#969696;}
.class-option .class-option-right .move {background-color:#969696;line-height:38px;}

.move-class-head {width: 100%;height:50px;overflow: hidden;position:fixed;border-bottom:solid 1px #e7e7e7;font-size:16px;}
.move-class-head .move-class-head-left {width: 52px;height:50px;overflow: hidden;position:relative;padding-left:15px;float:left;box-sizing:border-box;}
.move-class-head .move-class-head-left .item {height:50px;line-height:50px;overflow: hidden;position:relative;float:left;}
.move-class-head .move-class-head-title {width: calc(100% - 52px - 100px);height:100%;overflow: hidden;position:relative;padding-left:14px;float:left;box-sizing:border-box;text-align:center;}
.move-class-head .move-class-head-title h2 {height:50px;overflow: hidden;position:relative;line-height:50px;font-size:16px;}
.move-class-head .move-class-head-right {width: 100px;height:100%;overflow: hidden;position:relative;padding-right:15px;float:left;box-sizing:border-box;}
.move-class-head .move-class-head-right .item {height:50px;line-height:50px;overflow: hidden;position:relative;padding-left:15px;float:right;}


.move-class-global-option {width: 100%;overflow: hidden;margin: 10px 0;position:relative;}
.move-class-global-option .option-item {width: 49%;height:50px;overflow: hidden;border: 2px dashed #ddd;position:relative;border-radius:7px;cursor:pointer;text-align:center;line-height:50px;}
.move-class-global-option .class-add {float:left;}
.move-class-global-option .class-move {float:right;}


#searchlist .post-item {width: 100%;overflow: hidden;margin: 10px 0;border-bottom: 1px solid #ddd;position:relative;}
#searchlist .post-item .keyword {display:inline;background-color: #FFFF00;}
#searchlist .post-item .post-title {width: 100%;height: 20px;overflow: hidden;float: left;line-height: 20px;}
#searchlist .post-item .post-title h2 {font-size: 16px;float: left;}
#searchlist .post-item .post-title .post-creat {font-size: 12px;color: #969696;float: right;}
#searchlist .post-item .post-summary {width: 100%;margin: 5px auto 0 auto;overflow: hidden;float: left;}
#searchlist .post-item .post-summary p {font-size: 12px;color: #969696}
#searchlist .post-item .post-summary a{color: #969696}
#searchlist .post-item .post-footer {width: 100%;overflow: hidden;float: left;height: 15px;line-height: 15px;margin: 5px 0;}

.search-head {width: 100%;height:50px;overflow: hidden;position:fixed;border-bottom:solid 1px #e7e7e7;font-size:16px;}
.search-head .search-head-left {width: 15px;height:50px;overflow: hidden;position:relative;float:left;box-sizing:border-box;}
.search-head .search-head-center {width: calc(100% - 15px - 50px);height:100%;overflow: hidden;position:relative;float:left;box-sizing:border-box;text-align:center;}
.search-head .search-head-center .search-input {width: calc(100% - 50px);height:100%;overflow: hidden;position:relative;float:left;box-sizing:border-box;text-align:center;}
.search-head .search-head-center .search-input .type {overflow: hidden;position:absolute;left: 10px; top:50%;font-size: 18px;margin-top: -9px;color: #C0C0C0;cursor: pointer;}
.search-head .search-head-center .search-input input {width: 100%;height:40px;border: solid 1px #C0C0C0;border-radius: 12px;margin: 5px auto;padding: 0 32px;line-height:40px;font-size: 16px;}
.search-head .search-head-center .search-input .clear {overflow: hidden;position:absolute;right: 10px; top:50%;font-size: 18px;margin-top: -9px;color: #C0C0C0;cursor: pointer;}
.search-head .search-head-center .search-enter {width: 50px;height:100%;line-height:50px;overflow: hidden;position:relative;float:left;box-sizing:border-box;text-align:center;}
.search-head .search-head-center .search-enter .enter {cursor: pointer;}
.search-head .search-head-right {width: 50px;height:100%;overflow: hidden;position:relative;float:left;box-sizing:border-box;}
.search-head .search-head-right .cancel {font-size: 14px;text-align: center;line-height: 50px;}
