<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">

		<title>mv2 -- edit</title>

        <link href="{{ url_for('static', filename='common.css') }}" rel="stylesheet">
		<link href="https://cdn.bootcss.com/codemirror/5.38.0/codemirror.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='codemirror_5.38.0.js') }}"></script>
		<!--<script src="https://cdn.bootcss.com/codemirror/5.38.0/codemirror.min.js"></script>-->
		<script src="https://cdn.bootcss.com/codemirror/5.38.0/mode/markdown/markdown.min.js"></script>
		<script src="https://cdn.bootcss.com/codemirror/5.38.0/mode/xml/xml.min.js"></script>
		<script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/iScroll/5.2.0/iscroll.js"></script>
        
        
        
		
		<style type="text/css">
			html, body {height: 100%;font-size:14px;}
            .CodeMirror {font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}
			.warpper {width: 100%;height: 100%;top: 0;background-color: #ddd;float: left;}
			.title {width: 100%;height: 50px;padding-left: 12px;overflow: hidden;border-bottom: 1px solid #ddd;float: left;background-color: #fff;box-sizing: border-box;}
			.title input[type=text] {width: 100%;height: 100%;border: 0px;font-size: 26px;line-height: 49px;}
			.content {width: 100%;padding-left: 12px;box-sizing: border-box;float: left;background-color: #fff;overflow:hidden;position:relative}
            #mv2_input {display: none;}
            #hide_input {opacity:0;position:absolute;width:0;height:0;top:-50px;}

			.preview {display: block;top: 0;position: absolute;width: 100%;height: 100%;background-color: #fff;z-index: 999;}
            #md-wrapper {width: 100%;overflow-x: hidden;overflow-y: auto;float: left;position:relative}
			.markdown-body {width: 100%;overflow: hidden;padding: 18px 12px;box-sizing: border-box;float: left;}
			.preview-foot {width: 100%;height: 50px;background-color: #fff;border-top: 1px solid #ddd;box-sizing: border-box;float: left;}
			.preview-foot i {line-height: 50px;float: left;cursor: pointer;}
			.preview-foot .tools-left {margin-left: 10px;height: 100%;float: left;overflow: hidden;}
			.preview-foot .tools-right {margin-right: 10px;height: 100%;float: right;overflow: hidden;}
            
            .new-file-msg {display: none;top: 0;position: absolute;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);z-index: 9999;}

			.head {width: 100%;height: 50px;background-color: #fff;float: left;}
			.head i {line-height: 50px;float: left;cursor: pointer;}
			.head .tools-left {margin-left: 10px;height: 100%;float: left;overflow: hidden;}
			.head .tools-right {margin-right: 10px;height: 100%;float: right;overflow: hidden;}
			.head .tools-right .option{margin-right: 10px;}
			.head .tools-right .disable:before{color:#c0c0c0;}
			.head .tools-right .save{margin-left: 10px;}
			
			.foot {width: 100%;height: 50px;background-color: #fff;border-top: 1px solid #ddd;float: left;overflow: hidden;z-index: 999;box-sizing: border-box;}
			.foot .toolsbar {width: 100%;height: 50px;position: relative;float: left;border-bottom: 1px solid #ddd;box-sizing: border-box;}
			.foot .toolsbar i {line-height: 50px;cursor: pointer;}

			.foot .toolsbar .tools-left {margin-left: 10px;height: 100%;float: left;width: 85%;overflow: hidden;}
			.foot .toolsbar .tools-left .tools-left-warpper {height: 100%;float: left;position: relative;touch-action:none;}
			.foot .toolsbar .tools-left .option{margin-right: 25px;float: left;display: block;}
			.foot .toolsbar .tools-right {margin-right: 10px;height: 100%;float: right;overflow: hidden;}

			#upload-file {width: 100%;height: 264px;float: left;position: relative;display:none;}
			#upload-file .upload-type {margin: 80px auto;overflow: hidden;height: 64px;}
			#upload-file .upload-type .img-btn {width: 60px;height: 64px;margin: auto 10px;float: left;text-align: center;position: relative;}
			#upload-file .upload-type .img-btn i {margin: auto;cursor: pointer;}
			#file-img-upload {width: 60px;height: 64px;position: absolute;top: 0;z-index: 999;opacity: 0;cursor: pointer;}
			#upload-file .upload-msg {margin: 80px auto;overflow: hidden;display: none;}

		</style>
	</head>
	<body>
		<div class="warpper">
			{% if postid %}
			<input id="postid" type="hidden" value="{{ postid }}">
            <input id="updatetime" type="hidden" value="{{ updatetime }}">
			{% endif %}
            <textarea id="mv2_input">{% if content %}{{ content }}{% endif %}</textarea>
            <input id="hide_input" type="text" value=""/>
			
			<div class="head">
				<div class="tools-left">
					<i id="head-goback" class="fa fa-long-arrow-left fa-lg fa-fw"></i>
				</div>
				<div class="tools-right">
					<i id="undo-btn" class="fa fa-undo fa-lg fa-fw option disable"></i>
					<i id="redo-btn" class="fa fa-repeat fa-lg fa-fw option disable"></i>
					<i id="save-btn" class="fa fa-save fa-lg fa-fw save"></i>
				</div>					
			</div>
			<div class="title">
				<input id="title" type="text" name="title" placeholder="请输入标题" value="{% if title %}{{ title }}{% endif %}" />
			</div>
			<div class="content">
				
			</div>
			<div id="foot" class="foot">
				<div class="toolsbar">
					<div class="tools-left">
						<div id="foot-tools-left-wrapper"  class="tools-left-warpper">
							<i id="insert-head" class="fa fa-header fa-lg option"></i>
							<i id="insert-bold" class="fa fa-bold fa-lg option"></i>
                            <i id="insert-strikethrough" class="fa fa-strikethrough fa-lg option"></i>
							<i id="insert-media" class="fa fa-camera fa-lg option"></i>
							<i id="insert-quote" class="fa fa-quote-left fa-lg option"></i>
							<i id="insert-terminal" class="fa fa-terminal fa-lg option"></i>
                            <i id="insert-code" class="fa fa-code fa-lg option"></i>
                            <i id="insert-check" class="fa fa-check-circle-o fa-lg option"></i>
							<i id="insert-add" class="fa fa-plus fa-lg option"></i>
							<!--<i id="insert-upload" class="fa fa-upload fa-lg option"></i>-->
							<i id="insert-minus" class="fa fa-minus fa-lg option"></i>
							<i id="insert-percent" class="fa fa-percent fa-lg option"></i>
							<i id="insert-exclamation" class="fa fa-exclamation fa-lg option"></i>
							<i id="insert-indent" class="fa fa-indent fa-lg option"></i>
							<i id="insert-link" class="fa fa-link fa-lg option"></i>
							<i id="insert-list" class="fa fa-list-ol fa-lg option"></i>
							
						</div>
					</div>
					<div class="tools-right">
						<i id="show-preview" class="fa fa-desktop fa-lg"></i>
					</div>	
				</div>
				<div id="upload-file">
					<div class="container-fluid">
    					<div class="upload-type">
    						<div class="img-btn">
    							<input id="file-img-upload" accept="image/*" type="file">
    							<i class="fa fa-file-image-o fa-4x"></i>
    						</div>
    					</div>
    					<div class="upload-msg">
    						<div class="progress">
								<div id="probar-img" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 0%;">
							    	0%
								</div>
							</div>
    					</div>
					</div>

				</div>		
			</div>
			<div class="preview">
                <div id="md-wrapper">
                    <div class="markdown-body"></div>
                </div>
				<div class="preview-foot">
					<div class="tools-left">
						<i id="del-post" class="fa fa-trash-o fa-lg"></i>
					</div>
					<div class="tools-right">
						<i id="hide-preview" class="fa fa-edit fa-lg"></i>
					</div>					
				</div>
			</div>
            <div class="new-file-msg">
                这里是预览视图,点我进入页面
			</div>
		</div>	
        <script type="text/javascript">
        
            function utilTools () {
            
                var outs = new Object;
            
                outs.checkDriver = function () {
                
                    var ua = navigator.userAgent; 
                    var app = navigator.appVersion;
                    
                    if (!!ua.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)) {
                        if (ua.indexOf('iPhone') > -1) {
                            
                            if (ua.indexOf('MQQBrowser') > -1) {
                            
                                return 'ios_iphone_mqq';
                            }
                            else if (ua.indexOf('Safari') == -1) {
                            
                                return 'ios_iphone_webapp';
                            }
                        
                            return 'ios_iphone_safari';
                        }
                        else if (ua.indexOf('iPad') > -1) {
                        
                            return 'ios_ipad_safari';
                        }
                    
                        return 'ios';
                    }
                    else if (ua.indexOf('Android') > -1 || ua.indexOf('Linux') > -1) {
                        
                        return 'android'
                    }
                    
                    return  'other';

                };
                
                return outs;
            }
        
        </script>
        
        
        <script type="text/javascript">
        
            function scrollHelper (_edit) {
            
                this._init_ = function () {
                    this._edit = _edit;
                    this._drvtype = utilTools().checkDriver();
                    
                    if (this._drvtype.indexOf('ios')  > -1) {
                        $("#md-wrapper").css("overflow-y", "hidden");
                        
                        this._htmlScroll = new IScroll('#md-wrapper', {
                            preventDefault: true,
                            preventDefaultException: {
                                tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A|PRE|CODE)$/
                            },
                            disableMouse: true,
                            disablePointer: true,
                            scrollbars: true,
                            hScrollbar: false,  
                            vScroll: true,      
                            bounce: true,      
                            tap: "htmlscrolltap",
                            mouseWheel: false,
                            fadeScrollbars: true,
                            scrollbars: true
                        });
                   
                        this._editScroll = new IScroll('.content', {
                            preventDefault: false,
                            disableMouse: true,
                            disablePointer: true,
                            hScrollbar: false,  
                            vScroll: true,      
                            bounce: true,      
                            click: true,    　     //有bug,true的时候checkbox 不能点击,false的时候超链接不能点击
                            mouseWheel: true,
                            fadeScrollbars: true,
                            scrollbars: true
                        });
                        
                        
                        
                        
                        console.log(this._htmlScroll)
                        
                        $("pre").bind("htmlscrolltap", function (_e) {
                            //alert(3)
                        }.bind(this));
                        
                        $("code").bind("touchstart", function (_e) {
                            //alert(1)
                        }.bind(this));
                        
                        $("code").bind("touchmove", function (_e) {
                            //alert(1)
                        }.bind(this));
                        
                        $("code").bind("touchend", function (_e) {
                            //alert(3)
                        }.bind(this));
                        
                        
                    }

                }
                
                this.refReshHtml = function () {
                    if (this._drvtype.indexOf('ios')  > -1) {
                        setTimeout(function () {
                            this._htmlScroll.refresh();
                        }.bind(this), 0);
                    }
                };
                
                this.refReshEdit = function () {
                    if (this._drvtype.indexOf('ios')  > -1) {
                        setTimeout(function () {
                            this._editScroll.refresh();
                        }.bind(this), 0);
                    }
                };
                
                this._init_();
            }
            
        </script>
        <script type="text/javascript">
        
            function screenHelper (_edit, _scroll) {
            
                this._init_ = function () {
                    this._edit = _edit;
                    this._scroll = _scroll;
                    this._isPreven = false;
                    this._keyoutcontentHeight = 0;
                    this._keyHeight = 0;
                    
                    this._additiveHeight = 0;
                    
                    this._firstOpenKey = true;
                    this._orientationMsg = false;
                    
                    this._drvtype = utilTools().checkDriver();
                    this._onlLoadHeight();
                    this.setSize();
                    this._prevenMove();
                    this._checkAdditiveHeight();
                    
                    
                    
                    if (this._drvtype.indexOf('ios')  > -1) {
                    
                        //console.log("navigator.userAgent:" + navigator.userAgent)
                        //console.log("navigator.appVersion:" + navigator.appVersion)
                        
                        //alert(navigator.userAgent)
                        
                        /*
                        setInterval(function () {
                            console.log("window.innerHeight:" + window.innerHeight)
                            console.log("document.documentElement.clientHeight:" + document.documentElement.clientHeight)
                            console.log("bodyScrollTop:" + $("body").scrollTop())
                            console.log("bodyHeight:" + $("body").height())
                            
                        }, 1000);
                        */
                    
                        $(window).scroll(function(event) {
                            this._heightLoop();
                            if (!this._firstOpenKey) {
                                setTimeout(function () {
                                    if ($('body').scrollTop() != 0) {
                                        $('body').scrollTop(0)
                                    }
                                }.bind(this), 100);
                            }
                            
                        }.bind(this));
                        
                        $("#hide_input").bind('focus', function () {
                            this.onKeyChange("open");
                            $("#title").focus();
                        }.bind(this));

                        this._edit.on('focus', function () {
                            this.onKeyChange("open");
                        }.bind(this));
                        
                        this._edit.on('blur', function () {
                            this.onKeyChange("close");
                        }.bind(this));
                        
                        $("#title").bind('focus', function () {
                            if ($("#title").attr("readonly")) {
                                $("#title").blur();
                                return false;
                            }
                        
                            if (this._firstOpenKey) {
                                this._firstOpenKey = false;
                            }
                            else {
                                this.onKeyChange("open");
                            }
                        }.bind(this));
                        
                        $("#title").bind('blur', function () {
                            this.onKeyChange("close");
                        }.bind(this));
                        
                        $(".content").bind('touchstart', function () {
                            if (this._edit.doc.height < $('.content').height()) {
                                this._edit.focus();
                                return false;
                            }
                        }.bind(this));

                        this._onlLoadHeight();
                        this._scroll.refReshHtml();
                        this._scroll.refReshEdit();
                        
                        

                    }
                    else {
                        window.onresize = function () {
                            this.setSize();

                        }.bind(this);
                    }
                    
                    window.onorientationchange = function () {
                        this.setSize();
                        this._hideKey();
                        
                        this.ListenOrientation();
                                                
                    }.bind(this);
                    

                };
                
                this._onlLoadHeight = function () {
                    this._loadcontentHeight = $('.content').height();
                    this._loadinnerHeight = window.innerHeight;
                };

                this._checkAdditiveHeight = function () {
                    if (this._drvtype == 'ios_iphone_safari') { 
                        this._additiveHeight = 45;
                    }
                };
                
                this._prevenMove = function () {
                    
                    if (this._drvtype.indexOf('ios')  > -1) {
                    
                        $('html').bind('touchmove', function (e) {
                            if ($('.preview').is(':hidden')) {
                                e.preventDefault();
                            }
                        }.bind(this));
                    
                        $('body').bind('touchmove', function (e) {
                            if ($('.preview').is(':hidden')) {
                                e.preventDefault();
                            }
                        }.bind(this));
                        
                        $('.warpper').bind('touchmove', function (e) {
                            if ($('.preview').is(':hidden')) {
                                e.preventDefault();
                            }
                        }.bind(this));
                        
                        $('.head').bind('touchmove', function (e) {
                            e.preventDefault();
                        }.bind(this));
                    
                        $('.title').bind('touchmove', function (e) {
                            e.preventDefault();
                        }.bind(this));
                        
                        $('.content').bind('touchmove', function (e) {
                            e.preventDefault();
                        }.bind(this));
                        
                        $('.foot').bind('touchmove', function (e) {
                            e.preventDefault();
                        }.bind(this));
                        
                        $('#md-wrapper').bind('touchmove', function (e) {
                            //e.preventDefault();
                        }.bind(this));
                    
                    }
                };
                
                this._openKey = function () {

                    if ($('.content').height() > this._keyoutcontentHeight) {
                    
                        if (this._firstOpenKey) {
                            
                            $("body").scrollTop(this._loadinnerHeight);
                            setTimeout(function () {
                                
                                if (this._drvtype.indexOf('iphone') > -1) {
                                    
                                }
                                
                                $("#foot")[0].scrollIntoView();

                                setTimeout(function () {
                                    this._setcontentHeight();
                                }.bind(this), 100);
                                
                            }.bind(this), 700);
                        }
                        else {

                            this._setcontentHeight();
                        }
                    }
                };
                
                this._closeKey = function () {
                    var tbxTitle = $("#title")[0];
                    var tbxContent = $(".content")[0];
                    
                    var titleFocus = (document.activeElement == tbxTitle);
                    var contentFocus = this._edit.hasFocus();
                    
                    if (!titleFocus && !contentFocus) {
                        if (!this._isPreven) {
                            if ($('.content').height() <= this._keyoutcontentHeight) {
                                this._setcontentHeight();
                            }
                        }
                    }
                    
                    this.acceptChange();
                };
                
                this._hideKey = function () {
                    this.acceptChange();
                    document.activeElement.blur();
                }

                this._setcontentHeight = function () {
                
                    if ($('.content').height() > this._keyoutcontentHeight) {
                        $('.content').height(this._keyoutcontentHeight);
                    }
                    else
                    {
                        $('.content').height(this._loadcontentHeight);
                    }
                    
                    $('body').scrollTop(0);
                    
                    this._scroll.refReshEdit();

                };
                
                this._heightLoop = function () {
                
                    //prevent scrollIntoView scroll too more
                    var temkoch = this._loadcontentHeight - $('body').scrollTop() + this._additiveHeight;

                    if (temkoch > 0 && $('body').scrollTop() > this._keyHeight && window.innerHeight != this._loadinnerHeight) {
                        this._keyHeight = $('body').scrollTop();                    
                        this._keyoutcontentHeight = this._loadcontentHeight - this._keyHeight + this._additiveHeight;
                        
                    }
                    
                    
                };
                
                this.setSize = function () {

                    var initfootheight = $('#foot').height() + 1; //broadheight
                    
                    var viewHeight = $('.warpper').height();
                    var content_height = viewHeight - ($('.title').height() + 1) - $('.head').height() - initfootheight;
                    $('.content').height(content_height);
                    
                    if (this._drvtype.indexOf('ios')  > -1) {
                        this._edit.setSize('auto', 'auto');
                    }
                    else {
                        this._edit.setSize('auto', content_height + 'px');
                    }

                    var md_wrapper_height = $('.preview').height() - ($('.preview-foot').height() + 1);
                    $('#md-wrapper').height(md_wrapper_height);

                    var foot_tools_wrapper_width = 0;

                    for (var i = 0; i < $('.tools-left-warpper i').length; i++) {
                        foot_tools_wrapper_width += $($('.tools-left-warpper i')[i]).width() + 25 + 1; //span spaces
                    }

                    $('.tools-left-warpper').width(foot_tools_wrapper_width);
                };
                
                this.ListenOrientation = function () {
                    
                    if (this._drvtype.indexOf('ios') > -1 || true) {
                    
                        if (window.orientation == 90 || window.orientation == -90) {
                        
                            this._edit.setOption("readOnly", "nocursor");
                            $('#title').attr("readonly", "readonly");
                        
                            if ($('.preview').is(':hidden')) {
                                if (!this._orientationMsg) {
                                    alert("为了您获得最佳的用户体验,请在竖屏下进行编辑");
                                    this._orientationMsg = true;
                                }
                            }
                            
                            $('.preview').show();
                        }
                        else {
                        
                            this._edit.setOption("readOnly", false);
                            $('#title').removeAttr("readonly");
                            
                        }
                    }
                };
                
                this.preventChange = function () {
                    this._isPreven = true;
                };
                
                this.acceptChange = function () {
                    this._isPreven = false;
                };
                
                this.onKeyChange = function (_type) {

                    if (_type == "open") {
                        this._openKey();
                    }
                    else {
                        setTimeout(this._closeKey.bind(this), 100);
                    }

                };
                
                this.autoOpenIosKey = function () {
                
                    if (window.orientation != 90 && window.orientation != -90) {
                    
                        $("#hide_input").focus();
                    }
                }
                
                this._init_();
                
            
            }

        </script>
        
        <script type="text/javascript">
   
            function LocalDB () {
                this.dbname = "mv2xyz";
                this.dbver = 1;
                
                this._init_ = function () {
                
                    var request = indexedDB.open(this.dbname, this.dbver);
                    
                    request.onerror = function (event) {
                        console.log("open fail:" + event.target.message);
                    }.bind(this);
                    
                    request.onsuccess = function (event) {
                        this.database = event.target.result;
                        
                        if (this.onload) {
                            this.onload()
                        }
                        
                       
                    }.bind(this);
                    
                    request.onupgradeneeded = function(event) {
                                    
                        this.database = event.target.result;
                        var objectstore = this.database.createObjectStore("content", { keyPath: "datakey" });

                    }.bind(this);
                    
                    
                    
                };
                
                this.set = function (_datakey, _datavalue) {
                
                    var data = {
                    
                        datakey : _datakey,
                        dataval : _datavalue
                        
                    }
                                
                    if (!this.database) {
                        
                        return false;
                        
                    }
                    
                    var transaction = this.database.transaction("content", "readwrite");
                    var objectStore = transaction.objectStore("content");
                    
                    var getres = objectStore.get(_datakey);
                    
                    getres.onsuccess = function (e) {
                    
                        objectStore.put(data);
                        
                    };
                    
                    return true;
                    
                };
                
                this.del = function (_datakey) {
                
                    if (!this.database) {
                    
                        return false;
                        
                    }
                
                    var transaction = this.database.transaction("content", "readwrite");
                    var objectStore = transaction.objectStore("content");
                    objectStore.delete(_datakey);
                    
                    return true;
                }
                
               
                this.get = function (_datakey, _cb) {

                    if (!this.database) {
                        
                        return false;
                        
                    }
                                
                    var transaction = this.database.transaction("content", "readwrite");
                    var objectStore = transaction.objectStore("content");
                    
                    var request = objectStore.get(_datakey);

                    
                    
                    request.onsuccess = function (e) {
                        var result = e.target.result;

                        
                        
                        if (_cb) {
                        
                            if (result) {
                                _cb(result.dataval);
                            }
                            else {
                                _cb(result);
                            }
                            
                        }
                    }
                    
                    request.onerror = function (e) {
                        console.log(e)
                    };
                    
                    return true;

                }
                
                this._init_();

            }
        </script>
        
        <script type="text/javascript">
   
            function DocCache(_edit) {

                this._init_ = function () {
                    this._edit = _edit;
                    this.db = new LocalDB();

                    this.db.onload = function () {

                        var postid = $("#postid").val();

                        if (postid) {
                            var datakey = "cache_" + postid;

                            var res = this.db.get(datakey, function (_val) {
                                if (_val) {

                                    var updatetime = Date.parse(new Date($("#updatetime").val()));
                                    var content = $("#mv2_input").val();

                                    var localupdatetime = _val.updatetime;

                                    if (localupdatetime > updatetime) {
                                        if (confirm("监测到您上次未保存就退出,是否继续上次内容编辑")) {
                                            content = _val.content;
                                            updatetime = localupdatetime;
                                            
                                            this._edit.setValue(content);
                                        }
                                    }

                                    var data = {
                                        updatetime: updatetime,
                                        content: content
                                    };

                                    this.db.set(datakey, data);
                                }
                                else {

                                    var content = $("#mv2_input").val();
                                    var updatetime = Date.parse(new Date($("#updatetime").val()));

                                    var data = {
                                        updatetime: updatetime,
                                        content: content
                                    };

                                    this.db.set(datakey, data);
                                }
                            }.bind(this));
                        }
                    }.bind(this);
                    
                };
                
                this.cache = function (_mdcode) {
                    var postid = $("#postid").val();
                        
                    if (postid) {
                        var datakey = "cache_" + postid;
                        
                        var content = _mdcode;
                        var updatetime = Date.parse(new Date());
                        
                        var data = {
                            updatetime : updatetime,
                            content : content
                        };
                                
                        this.db.set(datakey, data);
                        
                        
                    }
                    
                };
                
                this.save = function () {
                    var postid = $("#postid").val();
                        
                    if (postid) {
                        var datakey = "cache_" + postid;
 
                        this.db.del(datakey);
                        
                        
                    }
                    
                };
                
                this._init_();

            }
        </script>
        
		<script type="text/javascript">
		
			document.onkeydown = function () {
				if (event.ctrlKey == true && event.keyCode == 83) {//Ctrl+S
        			event.returnvalue = false;
        			submitmd();
        			return false;
    			}
			};

			window.onload = function () {
				
                initEdit();
                
                if ($("#postid").length == 0) {

                    hidePreview();
                
                    if (utilTools().checkDriver().indexOf("ios") > -1) {
                    
                        $(".new-file-msg").show();
                    
                        $(".new-file-msg").bind("click", function () {
                            
                            document.activeElement.blur();
                            sch.ListenOrientation();
                            sch.autoOpenIosKey();
                            $(".new-file-msg").hide();
                        });
                        
                    }
                    else {
                        document.activeElement.blur();
                        $("#title").focus();
                    }

                }
                
                

			};

			function initEdit () {

				var mv2input = document.getElementById('mv2_input');
				var maxec = 0;
                
                /*
				CodeMirrorEditor = CodeMirror.fromTextArea(mv2input, {
					lineWrapping: true
				});
                */

                CodeMirrorEditor = CodeMirror($('.content')[0], {
                    value: mv2input.value,
					lineWrapping: true
				});


				var rendererMD = new marked.Renderer();

				rendererMD.listitem = function(text) {
	            	if (/^\s*\[[x\s]\]\s*/.test(text)) {
		               text = text.replace(/^\s*\[\s\]\s*/, '<input type=\"checkbox\" /> ')
		                          .replace(/^\s*\[x\]\s*/,  '<input type=\"checkbox\" checked disabled /> ');

		                return "<li>" + text + "</li>";
		            }
		            else 
		            {
		                return "<li>" + text + "</li>";
		            }
		        };

				marked.setOptions({
					renderer: rendererMD,
			      	gfm: true,
			      	tables: true,
			      	breaks: false,
			      	pedantic: false,
			      	sanitize: false,
			      	smartLists: false,
			      	smartypants: false
			    });

				$('.markdown-body').html(marked(CodeMirrorEditor.getValue()));
                
                dc = new DocCache(CodeMirrorEditor);
                srh = new scrollHelper(CodeMirrorEditor);
                sch = new screenHelper(CodeMirrorEditor, srh);
                

				//CodeMirrorEditor.setOption('lineNumbers', true);
                //CodeMirrorEditor.inputStyle
                
				CodeMirrorEditor.on('change', function () {
					$('.markdown-body').html(marked(CodeMirrorEditor.getValue()));
                    dc.cache(CodeMirrorEditor.getValue());
                    srh.refReshHtml();

					var ec = CodeMirrorEditor.changeGeneration();

					if (ec > 1) {
						$('#undo-btn').removeClass('disable');
					}
					else {
						$('#undo-btn').addClass('disable');
					}

					if (ec > maxec) {
						maxec = ec;
					}

					if (ec == maxec) {
						$('#redo-btn').addClass('disable');
					}
					else {
						$('#redo-btn').removeClass('disable');
					}

				});

				$('#head-goback').bind('click', function () {
					history.go(-1);
				});

				$('#show-preview').bind('click', function () {
					//关闭软键盘
					document.activeElement.blur();
					showPreview();
				});

				$('#hide-preview').bind('click', function () {
					document.activeElement.blur();
                    sch.autoOpenIosKey();
					hidePreview();
                    sch.ListenOrientation();

				});

				$('#undo-btn').bind('click', function () {
					CodeMirrorEditor.undo();
				});

				$('#redo-btn').bind('click', function () {
					CodeMirrorEditor.redo();
				});

				$('#save-btn').bind('click', function () {
					submitmd();
				});

				$('#del-post').bind('click', function () {
					if(confirm('确定要删除本笔记么,删除后将不可恢复!') == true) {
						deletepost();
					}
				});
				

				$('#insert-head').bind('click', function () {
                    sch.preventChange();
                    var selctx = CodeMirrorEditor.getSelection();
					var cursor = CodeMirrorEditor.getCursor();
					var token = CodeMirrorEditor.getRange({line: cursor.line, ch: cursor.ch - 2}, {line: cursor.line, ch: cursor.ch});

					if (token == '# ') {

						CodeMirrorEditor.replaceRange('# ' + selctx, {line: cursor.line, ch: cursor.ch - 1}, {line: cursor.line, ch: cursor.ch});
						CodeMirrorEditor.focus();					
						CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
					
					}
					else {
						
						CodeMirrorEditor.replaceSelection('# ' + selctx);
						CodeMirrorEditor.focus();					
						CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
					}

				});

				$('#insert-bold').bind('click', function () {
                    sch.preventChange();
                    var selctx = CodeMirrorEditor.getSelection();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('**' + selctx + '**')
					CodeMirrorEditor.focus();
                    
                    if (selctx) {
                        CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 4);
                    }
                    else {
                        CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
                    }
					
				});
                
                $('#insert-strikethrough').bind('click', function () {
                    sch.preventChange();
                    var selctx = CodeMirrorEditor.getSelection();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('~~' + selctx + '~~')
					CodeMirrorEditor.focus();
                    
                    if (selctx) {
                        CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 4);
                    }
                    else {
                        CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
                    }
					
				});

				$('#insert-media').bind('click', function () {

					hideKeyboard();

					var footheight = $('#upload-file').height() + 49 + 1;//broad height

					if ($('.foot').height() > 49) {
                        $('#upload-file').hide();
						footheight = 49;
					}
                    else {
                        $('#upload-file').show();
                    }
                    
                    $('.foot').height(footheight);
                    
                    sch.setSize();
                    
                    

					//$('.foot').animate({height: footheight}, 300);

				});

				$('#insert-quote').bind('click', function () {
                    sch.preventChange();
                    var selctx = CodeMirrorEditor.getSelection();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('> ' + selctx);
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
				});

				$('#insert-terminal').bind('click', function () {
                    sch.preventChange();
                    var selctx = CodeMirrorEditor.getSelection();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('　' + selctx)
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-add').bind('click', function () {
                    sch.preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('+')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-minus').bind('click', function () {
                    //expire
                    sch.preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('-')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-percent').bind('click', function () {
                    //expire
                    sch.preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('%')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-exclamation').bind('click', function () {
                    //expire
                    sch.preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('!')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-code').bind('click', function () {
                    sch.preventChange();
                    var selctx = CodeMirrorEditor.getSelection();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('```\n' + selctx + '\n```')
					CodeMirrorEditor.focus();	
                    
                    CodeMirrorEditor.setCursor(cursor.line + 1, 0);
                    
				});

				$('#insert-indent').bind('click', function () {
                    //expire
                    sch.preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('\t')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-link').bind('click', function () {
                    sch.preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('![](http://)')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
				});

				$('#insert-check').bind('click', function () {
                    sch.preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('- [x] ')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 6);
				});


				$('#foot-tools-left-wrapper').bind('mousedown', function (e) {
					premouse = mouseCoords(event);
			        ftlwm = true;
			    });

			    $('#foot-tools-left-wrapper').bind('touchstart', function (e) {
			    	//e.preventDefault();

		            var touch;

		            if (window.navigator.msPointerEnabled) {
		                touch = e;
		            } else {
		                touch = e.touches[0];
		            }

		            premouse = mouseCoords(touch);
		            ftlwm = true;
			    });

			    $('#file-img-upload').bind('change', function () {
			    	var obj = document.getElementById('file-img-upload');

			    	if (obj.files) {

			            for (var i = 0; i < obj.files.length; i++) {

			                var fr = new FileReader();

			                fr.onload = (function (file, evt) {

			                    return function (evt) {

			                    	
			                        upload_img(file);
			                    }

			                })(obj.files[i]);

			                fr.readAsDataURL(obj.files[i])
			            }

			        }

			    });
                
                

			}

			$(document).bind('mousemove', function (e) {
				var nowmouse = mouseCoords(event);
		        ftlwmMove(nowmouse);
		    });

		    $(document).bind('mouseup', function (e) {
		    	ftlwmEnd();
		    });

		    $(document).bind('touchmove', function (e) {

		    	//e.preventDefault();

	            var touch;

	            if (window.navigator.msPointerEnabled) {
	                touch = e;
	            } else {
	                touch = e.touches[0];
	            }

	            var nowmouse = mouseCoords(touch);

		        ftlwmMove(nowmouse);
		    });

		    $(document).bind('touchend', function (e) {
		    	ftlwmEnd();
		    });




			//鼠标坐标获取
		    function mouseCoords(touch) {

		        if (touch.pageX || touch.pageY) {
		            return { x: touch.pageX, y: touch.pageY };
		        }
		        else {

		            return {
		                x: touch.clientX + document.body.scrollLeft - document.body.clientLeft,
		                y: touch.clientY + document.body.scrollTop - document.body.clientTop
		            };
		        }
		    }

			function showPreview() {
				$('.preview').show();
                srh.refReshHtml();
			}

			function hidePreview() {
				$('.preview').hide();
			}

			function ftlwmMove(nowmouse) {

				if (typeof(ftlwm) != 'undefined' && ftlwm) {

		            if (nowmouse) {
		            	var mvx = nowmouse.x - premouse.x

		            	if (typeof(ftlwm_x) != 'undefined') {
		            		mvx += ftlwm_x;
		            	}
		            	
		            	$('#foot-tools-left-wrapper').css('left', mvx);

		            }
		        }

			}

			function ftlwmEnd() {

				if (typeof(ftlwm) != 'undefined' && ftlwm) {
		    		
		    		ftlwm_x = parseFloat($('#foot-tools-left-wrapper').css('left'));
                    
	          		var minleft = ($('#foot-tools-left-wrapper').width() - $('.foot .tools-left').width() - 20) * -1;

	    			if (minleft < 0)
	    			{
	    				if (ftlwm_x > 0)
		            	{
		            		$('#foot-tools-left-wrapper').animate({left: '0'}, 100, function () {
		            			ftlwm_x = 0;
		            		});
		            	}
		            	else if (ftlwm_x < minleft)
		            	{
		            		$('#foot-tools-left-wrapper').animate({left: minleft}, 100, function () {
		            			ftlwm_x = minleft;
		            		});
		            	}
	    			}
	    			else
	    			{
	            		$('#foot-tools-left-wrapper').animate({left: '0'}, 100, function () {
	            			ftlwm_x = 0;
	            		});
	    			}

		        	ftlwm = false;
		    	}
		        
			}

			function hideKeyboard() {
    			document.activeElement.blur();
    			//console.log(CodeMirrorEditor)
    			//CodeMirrorEditor.blur();
    			$('#title').blur();
			}

			function submitmd () {
				if (typeof(issubmit) == 'undefined' || !issubmit) {
					var post_name = $('#title').val();
					var post_body_md = encodeURIComponent(CodeMirrorEditor.getValue());
					var postid = $('#postid');
					var posturl = '/user/add';
					if (postid.length) {
						posturl = '/user/edit/' + postid.val();
					}

					$.ajax({
						type: 'POST',
  						url: posturl,
  						data: 'name=' + post_name + '&body_md=' + post_body_md,
  						beforeSend: function () {
  							issubmit = true;
  						},
  						success: function (result) {

  							if (result) {
  								if (result.code == 200) {
                                    dc.save();
  									window.location.href = result.nexturl;
  								}
  							}

  							issubmit = false;
  						},
  						error: function (er) {
  							console.log(er)
  							issubmit = false;
  						}
					});
				}
			}

			function deletepost () {
				if (typeof(issubmit) == 'undefined' || !issubmit) {
					
					var postid = $('#postid');
					var geturl = '/user/del/';

					if (postid.length == 0) {
						alert('您还没有保存!');
						return;
					}

					geturl += postid.val()

					$.ajax({
						type: 'GET',
  						url: geturl,
  						beforeSend: function () {
  							issubmit = true;
  						},
  						success: function (result) {

  							if (result) {
  								if (result.code == 200) {
  									window.location.href = result.nexturl;
  								}
  								else {
  									alert('删除失败')
  								}
  							}

  							issubmit = false;
  						},
  						error: function (er) {
  							console.log(er)
  							issubmit = false;
  						}
					});
				}
			}


		    function upload_img(file) {

		    	$('.upload-type').hide();
			    $('.upload-msg').show();

		        var xhr = new XMLHttpRequest();

		        xhr.upload.addEventListener('progress', function(evt) {
		            if (evt.lengthComputable) {
		            	var percentComplete = parseInt(evt.loaded / evt.total * 100);
		            	$('#probar-img').html(percentComplete + '%');
		            	$('#probar-img').attr('aria-valuenow', percentComplete);
		            	$('#probar-img').width(percentComplete + '%');
		            	
		            }

		        }, false);

		        xhr.addEventListener('load', function(evt) {

		        	if (evt.currentTarget.status == 200) {
						

		        		var result = $.parseJSON(evt.currentTarget.responseText);

		        		var cursor = CodeMirrorEditor.getCursor();
		        		var imgmd = '![' + result.name + '](' + result.url + ')';
						CodeMirrorEditor.replaceSelection(imgmd)
						CodeMirrorEditor.focus();					
						CodeMirrorEditor.setCursor(cursor.line, cursor.ch + imgmd.length);
		        		
                		$('.upload-type').show();
				        $('.upload-msg').hide();

				        $('#probar-img').html('0%');
			            $('#probar-img').attr('aria-valuenow', 0);
			            $('#probar-img').width('0%');

			            $('.foot').animate({height: 35}, 300);
            		}
		        	
		            
		        }, false);

		        xhr.addEventListener('error', function (evt) {
		        	
		            
		        }, false);

		        xhr.addEventListener('abort', function () {
		        	
		        }, false);

		        // 开始上传
		        xhr.open('POST', '/user/uploadimg/' + file.name + "/" + file.type, true);
		        xhr.send(file);  
		        
		    }
			
		</script>
	</body>
</html>