<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">

		<title>mv2 -- edit</title>

        <link href="{{ url_for('static', filename='common.css') }}" rel="stylesheet">
		<link href="https://cdn.bootcss.com/codemirror/5.36.0/codemirror.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/codemirror/5.36.0/codemirror.min.js"></script>
		<script src="https://cdn.bootcss.com/codemirror/5.36.0/mode/markdown/markdown.min.js"></script>
		<script src="https://cdn.bootcss.com/codemirror/5.36.0/mode/xml/xml.min.js"></script>
		<script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/iScroll/5.2.0/iscroll.js"></script>
        
        
		
		<style type="text/css">
			html, body {height: 100%;font-size:14px;}
            .CodeMirror {font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}
			.warpper {width: 100%;height: 100%;top: 0;background-color: #ddd;float: left;}
			.title {width: 100%;height: 50px;padding-left: 12px;overflow: hidden;border-bottom: 1px solid #ddd;float: left;background-color: #fff;box-sizing: border-box;}
			.title input[type=text] {width: 100%;height: 100%;border: 0px;font-size: 26px;line-height: 49px;}
			.content {-webkit-overflow-scrolling: touch;width: 100%;padding-left: 12px;box-sizing: border-box;float: left;background-color: #fff;}

			.preview {display: block;top: 0;position: absolute;width: 100%;height: 100%;background-color: #fff;z-index: 999;}
            #md-wrapper {width: 100%;overflow-x: hidden;overflow-y: auto;float: left;}
			.markdown-body {width: 100%;overflow: hidden;padding: 18px 12px;box-sizing: border-box;float: left;}
			.preview-foot {width: 100%;height: 35px;background-color: #fff;border-top: 1px solid #ddd;box-sizing: border-box;float: left;}
			.preview-foot i {line-height: 35px;float: left;cursor: pointer;}
			.preview-foot .tools-left {margin-left: 10px;height: 100%;float: left;overflow: hidden;}
			.preview-foot .tools-right {margin-right: 10px;height: 100%;float: right;overflow: hidden;}

			.head {width: 100%;height: 50px;background-color: #fff;float: left;}
			.head i {line-height: 50px;float: left;cursor: pointer;}
			.head .tools-left {margin-left: 10px;height: 100%;float: left;overflow: hidden;}
			.head .tools-right {margin-right: 10px;height: 100%;float: right;overflow: hidden;}
			.head .tools-right .option{margin-right: 10px;}
			.head .tools-right .disable:before{color:#c0c0c0;}
			.head .tools-right .save{margin-left: 10px;}
			
			.foot {width: 100%;height: 35px;background-color: #fff;border-top: 1px solid #ddd;float: left;overflow: hidden;z-index: 999;}
			.foot .toolsbar {width: 100%;height: 35px;position: relative;float: left;border-bottom: 1px solid #ddd;box-sizing: border-box;}
			.foot .toolsbar i {line-height: 35px;cursor: pointer;}

			.foot .toolsbar .tools-left {margin-left: 10px;height: 100%;float: left;width: 85%;overflow: hidden;}
			.foot .toolsbar .tools-left .tools-left-warpper {height: 100%;float: left;position: relative;touch-action:none;}
			.foot .toolsbar .tools-left .option{margin-right: 25px;float: left;display: block;}
			.foot .toolsbar .tools-right {margin-right: 10px;height: 100%;float: right;overflow: hidden;}

			#upload-file {width: 100%;height: 264px;float: left;position: relative;}
			#upload-file .upload-type {margin: 80px auto;overflow: hidden;height: 64px;}
			#upload-file .upload-type .img-btn {width: 60px;height: 64px;margin: auto 10px;float: left;text-align: center;position: relative;}
			#upload-file .upload-type .img-btn i {margin: auto;cursor: pointer;}
			#file-img-upload {width: 60px;height: 64px;position: absolute;top: 0;z-index: 999;opacity: 0;cursor: pointer;}
			#upload-file .upload-msg {margin: 80px auto;overflow: hidden;display: none;}

		</style>
	</head>
	<body>
		<div class="warpper">
			{% if postid %}
			<input id="postid" type="hidden" value="{{ postid }}">
            <input id="updatetime" type="hidden" value="{{ updatetime }}">
			{% endif %}
			
			<div class="head">
				<div class="tools-left">
					<i id="head-goback" class="fa fa-long-arrow-left fa-lg"></i>
				</div>
				<div class="tools-right">
					<i id="undo-btn" class="fa fa-undo fa-lg option disable"></i>
					<i id="redo-btn" class="fa fa-repeat fa-lg option disable"></i>
					<i id="save-btn" class="fa fa-save fa-lg save"></i>
				</div>					
			</div>
			<div class="title">
				<input id="title" type="text" name="title" placeholder="请输入标题" value="{% if title %}{{ title }}{% endif %}" />
			</div>
			<div class="content">
				<textarea id="mv2_input">{% if content %}{{ content }}{% endif %}</textarea>
			</div>
			<div id="foot" class="foot">
				<div class="toolsbar">
					<div class="tools-left">
						<div id="foot-tools-left-wrapper"  class="tools-left-warpper">
							<i id="insert-head" class="fa fa-header fa-lg option"></i>
							<i id="insert-bold" class="fa fa-bold fa-lg option"></i>
							<i id="insert-media" class="fa fa-camera fa-lg option"></i>
							<i id="insert-quote" class="fa fa-quote-left fa-lg option"></i>
							<i id="insert-terminal" class="fa fa-terminal fa-lg option"></i>
							<i id="insert-add" class="fa fa-plus fa-lg option"></i>
							<!--<i id="insert-upload" class="fa fa-upload fa-lg option"></i>-->
							<i id="insert-minus" class="fa fa-minus fa-lg option"></i>
							<i id="insert-percent" class="fa fa-percent fa-lg option"></i>
							<i id="insert-exclamation" class="fa fa-exclamation fa-lg option"></i>
							<i id="insert-code" class="fa fa-code fa-lg option"></i>
							<i id="insert-indent" class="fa fa-indent fa-lg option"></i>
							<i id="insert-link" class="fa fa-link fa-lg option"></i>
							<i id="insert-list" class="fa fa-list-ol fa-lg option"></i>
							<i id="insert-check" class="fa fa-check-circle-o fa-lg option"></i>
						</div>
					</div>
					<div class="tools-right">
						<i id="show-preview" class="fa fa-desktop fa-lg"></i>
					</div>	
				</div>
				<div id="upload-file">
					<div class="container-fluid">
    					<div class="upload-type">
    						<div class="img-btn">
    							<input id="file-img-upload" accept="image/*" type="file">
    							<i class="fa fa-file-image-o fa-4x"></i>
    						</div>
    					</div>
    					<div class="upload-msg">
    						<div class="progress">
								<div id="probar-img" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 0%;">
							    	0%
								</div>
							</div>
    					</div>
					</div>

				</div>		
			</div>
			<div class="preview">
                <div id="md-wrapper">
                    <div class="markdown-body"></div>
                </div>
				<div class="preview-foot">
					<div class="tools-left">
						<i id="del-post" class="fa fa-trash-o fa-lg"></i>
					</div>
					<div class="tools-right">
						<i id="hide-preview" class="fa fa-edit fa-lg"></i>
					</div>					
				</div>
			</div>
		</div>	
        
        <script type="text/javascript">
        
            function screenHelper (_edit) {
            
                function _init_ () {
                    this._edit = _edit;
                }
            
            }
           
            $(window).scroll(function(event) {
                //console.log("scrollTop:" + $('body').scrollTop());
                //console.log("innerHeight:" + window.innerHeight);
                heightLoop();
            });
            
            
            var isPreven = false;
            var loadcontentHeight = 0;
            var loadinnerHeight = 0;
            var keyHeight = 0;
            var keyoutcontentHeight = 0;
            
            
            
            
            _checkDriver()
            
            function _checkDriver () {
                var ua = navigator.userAgent; 
                var app = navigator.appVersion;
                
                if (!!ua.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)) {
                    alert("ios")
                }
                else {
                    alert("other")
                }
                
                
            }
            
            function _prevenMove () {
                $('body').bind('touchmove', function (e) {
                    console.log("body touchmove:" + $('body').scrollTop())
			    	e.preventDefault();
			    });
            }
            
            function preventChange () {
                isPreven = true;
            }
            
            function acceptChange () {
                isPreven = false;
            }
            
            
            function onlLoadHeight () {
                loadcontentHeight = $('.content').height();
                loadinnerHeight = window.innerHeight;
                _prevenMove();
            }
            
            
            function heightLoop () {
                if ($('body').scrollTop() > keyHeight && window.innerHeight != loadinnerHeight) {
                    keyHeight = $('body').scrollTop();                    
                    keyoutcontentHeight = loadcontentHeight - keyHeight;
                }
            }
            
            function _openKey () {
                if ($('.content').height() > keyoutcontentHeight) {
                    if (loadcontentHeight != 0 && keyoutcontentHeight != 0) {
                        _setcontentHeight();
                    }
                    else {
                        document.getElementById("foot").scrollIntoView();
                        setTimeout("_setcontentHeight()", 1000);
                    }
                }
            }
            
            function _closeKey () {
                var tbxTitle = $("#title")[0];
                var tbxContent = $(".content")[0];
                
                var titleFocus = (document.activeElement == tbxTitle);
                var contentFocus = (document.activeElement == tbxContent);
                
                //console.log("titleFocus:" + titleFocus)
                //console.log("contentFocus:" + contentFocus)
                //console.log("isPreven:" + isPreven)
                
                if (!titleFocus && !contentFocus) {
                    if (!isPreven) {
                        if ($('.content').height() <= keyoutcontentHeight) {
                            _setcontentHeight();
                        }
                    }
                }
                
                acceptChange();
            }
            
            function onKeyChange (_type) {

                if (_type == "open") {
                    _openKey();
                }
                else {
                    setTimeout("_closeKey()", 100);
                }

            }
            
            function _setcontentHeight() {
                if ($('.content').height() > keyoutcontentHeight) {
                    $('.content').height(keyoutcontentHeight);
                    CodeMirrorEditor.setSize('auto', keyoutcontentHeight + 'px');
                }
                else
                {
                    $('.content').height(loadcontentHeight);
                    CodeMirrorEditor.setOption("readOnly", "nocursor");
                    CodeMirrorEditor.setSize('auto', loadcontentHeight + 'px');
                    CodeMirrorEditor.setOption("readOnly", false);
                }
                
                $('body').scrollTop(0);

            }
        </script>
        
        <script type="text/javascript">
   
            function LocalDB () {
                this.dbname = "mv2xyz";
                this.dbver = 1;
                
                this._init_ = function () {
                
                    var request = indexedDB.open(this.dbname, this.dbver);
                    
                    request.onerror = function (event) {
                        console.log("open fail:" + event.target.message);
                    }.bind(this);
                    
                    request.onsuccess = function (event) {
                        this.database = event.target.result;
                        
                        if (this.onload) {
                            this.onload()
                        }
                        
                       
                    }.bind(this);
                    
                    request.onupgradeneeded = function(event) {
                                    
                        this.database = event.target.result;
                        var objectstore = this.database.createObjectStore("content", { keyPath: "datakey" });

                    }.bind(this);
                    
                    
                    
                };
                
                this.set = function (_datakey, _datavalue) {
                
                    var data = {
                    
                        datakey : _datakey,
                        dataval : _datavalue
                        
                    }
                                
                    if (!this.database) {
                        
                        return false;
                        
                    }
                    
                    var transaction = this.database.transaction("content", "readwrite");
                    var objectStore = transaction.objectStore("content");
                    
                    var getres = objectStore.get(_datakey);
                    
                    getres.onsuccess = function (e) {
                    
                        objectStore.put(data);
                        
                    };
                    
                    return true;
                    
                };
                
                this.del = function (_datakey) {
                
                    if (!this.database) {
                    
                        return false;
                        
                    }
                
                    var transaction = this.database.transaction("content", "readwrite");
                    var objectStore = transaction.objectStore("content");
                    objectStore.delete(_datakey);
                    
                    return true;
                }
                
               
                this.get = function (_datakey, _cb) {

                    if (!this.database) {
                        
                        return false;
                        
                    }
                                
                    var transaction = this.database.transaction("content", "readwrite");
                    var objectStore = transaction.objectStore("content");
                    
                    var request = objectStore.get(_datakey);

                    
                    
                    request.onsuccess = function (e) {
                        var result = e.target.result;

                        
                        
                        if (_cb) {
                        
                            if (result) {
                                _cb(result.dataval);
                            }
                            else {
                                _cb(result);
                            }
                            
                        }
                    }
                    
                    request.onerror = function (e) {
                        console.log(e)
                    };
                    
                    return true;

                }
                
                this._init_();

            }
        </script>
        
        <script type="text/javascript">
   
            function DocCache(_edit) {

                this._init_ = function () {
                    this._edit = _edit;
                    this.db = new LocalDB();

                    this.db.onload = function () {

                        var postid = $("#postid").val();

                        if (postid) {
                            var datakey = "cache_" + postid;

                            var res = this.db.get(datakey, function (_val) {
                                if (_val) {

                                    var updatetime = Date.parse(new Date($("#updatetime").val()));
                                    var content = $("#mv2_input").val();

                                    var localupdatetime = _val.updatetime;

                                    if (localupdatetime > updatetime) {
                                        if (confirm("监测到您上次未保存就退出,是否继续上次内容编辑")) {
                                            content = _val.content;
                                            updatetime = localupdatetime;
                                            
                                            this._edit.setValue(content);
                                        }
                                    }

                                    var data = {
                                        updatetime: updatetime,
                                        content: content
                                    };

                                    this.db.set(datakey, data);
                                }
                                else {

                                    var content = $("#mv2_input").val();
                                    var updatetime = Date.parse(new Date($("#updatetime").val()));

                                    var data = {
                                        updatetime: updatetime,
                                        content: content
                                    };

                                    this.db.set(datakey, data);
                                }
                            }.bind(this));
                        }
                    }.bind(this);
                    
                };
                
                this.cache = function (_mdcode) {
                    var postid = $("#postid").val();
                        
                    if (postid) {
                        var datakey = "cache_" + postid;
                        
                        var content = _mdcode;
                        var updatetime = Date.parse(new Date());
                        
                        var data = {
                            updatetime : updatetime,
                            content : content
                        };
                                
                        this.db.set(datakey, data);
                        
                        
                    }
                    
                };
                
                this.save = function () {
                    var postid = $("#postid").val();
                        
                    if (postid) {
                        var datakey = "cache_" + postid;
 
                        this.db.del(datakey);
                        
                        
                    }
                    
                };
                
                this._init_();

            }
        </script>
        
		<script type="text/javascript">
		
			document.onkeydown = function () {
				if (event.ctrlKey == true && event.keyCode == 83) {//Ctrl+S
        			event.returnvalue = false;
        			submitmd();
        			return false;
    			}
			};

			window.onload = function () {
				initEdit();
				setSize();
                onlLoadHeight();
			};

			window.onresize = function () {
                //mark
				//setSize();
			};

			function initEdit () {

				var mv2input = document.getElementById('mv2_input');
				var maxec = 0;

				CodeMirrorEditor = CodeMirror.fromTextArea(mv2input, {
					lineWrapping: true
				});

				dc = new DocCache(CodeMirrorEditor);

				var rendererMD = new marked.Renderer();

				rendererMD.listitem = function(text) {
	            	if (/^\s*\[[x\s]\]\s*/.test(text)) {
		               text = text.replace(/^\s*\[\s\]\s*/, '<input type=\"checkbox\" /> ')
		                          .replace(/^\s*\[x\]\s*/,  '<input type=\"checkbox\" checked disabled /> ');

		                return "<li>" + text + "</li>";
		            }
		            else 
		            {
		                return "<li>" + text + "</li>";
		            }
		        };

				marked.setOptions({
					renderer: rendererMD,
			      	gfm: true,
			      	tables: true,
			      	breaks: false,
			      	pedantic: false,
			      	sanitize: false,
			      	smartLists: false,
			      	smartypants: false
			    });

				//CodeMirrorEditor.setOption('lineNumbers', true);
                
                //CodeMirrorEditor.inputStyle
                
				CodeMirrorEditor.on('change', function () {
					$('.markdown-body').html(marked(CodeMirrorEditor.getValue()));
                    dc.cache(CodeMirrorEditor.getValue())

					var ec = CodeMirrorEditor.changeGeneration();

					if (ec > 1) {
						$('#undo-btn').removeClass('disable');
					}
					else {
						$('#undo-btn').addClass('disable');
					}

					if (ec > maxec) {
						maxec = ec;
					}

					if (ec == maxec) {
						$('#redo-btn').addClass('disable');
					}
					else {
						$('#redo-btn').removeClass('disable');
					}

				});
				
				CodeMirrorEditor.on('focus', function () {
					//$('.foot').height(35);
                    //$('body').scrollTop(1000)
                    //document.getElementById("foot").scrollIntoView();
                    //setTimeout("iosSetKey()", 1000)
                    //mark
                    onKeyChange("open");

				});
                
                CodeMirrorEditor.on('blur', function () {
					//$('.foot').height(35);
                    //setTimeout("console.log(window.innerHeight)", 1000)
                    //setTimeout("iosSetKey()", 1000)
                    //mark
                    onKeyChange("close");
                    
                });
                
                $("#title").bind('focus', function () {
                    //mark
                    onKeyChange("open");
                });
                
                $("#title").bind('blur', function () {
                    //mark
                    //CodeMirrorEditor.focus();
                    onKeyChange("close");
                });

				if ($('#postid').length == 0) {
					hidePreview();
				}

				$('.markdown-body').html(marked(CodeMirrorEditor.getValue()));
                
                //要在确保内容渲染后执行,否则不会滚动
                /*
                var myScroll = new IScroll('#md-wrapper', {
                    preventDefault: false,
                    hScrollbar:false,  //禁止横向滚动
                    vScroll:true,      //为true时允许y轴滚动
                    bounce:false,      //当滚动器到达容器边界时他将执行一个小反弹动画。在老的或者性能低的设备上禁用反弹对实现平滑的滚动有帮助。
                    click:true,    　   //如果你想你的应用程序响应click事件，那么该设置次属性为true
                    hideScrollbar: false, //是否隐藏滚动条  
                    mouseWheel: true
                });
                
                console.log(myScroll)
                */
                

				$('#head-goback').bind('click', function () {
					history.go(-1);
				});

				$('#show-preview').bind('click', function () {
					//关闭软键盘
					document.activeElement.blur();
					showPreview();
				});

				$('#hide-preview').bind('click', function () {
					document.activeElement.blur();
					hidePreview();
				});

				$('#undo-btn').bind('click', function () {
					CodeMirrorEditor.undo();
				});

				$('#redo-btn').bind('click', function () {
					CodeMirrorEditor.redo();
				});

				$('#save-btn').bind('click', function () {
					submitmd();
				});

				$('#del-post').bind('click', function () {
					if(confirm('确定要删除本笔记么,删除后将不可恢复!') == true) {
						deletepost();
					}
				});
				

				$('#insert-head').bind('click', function () {
                    preventChange();
					var cursor = CodeMirrorEditor.getCursor();
					var token = CodeMirrorEditor.getRange({line: cursor.line, ch: cursor.ch - 2}, {line: cursor.line, ch: cursor.ch});

					if (token == '# ') {

						CodeMirrorEditor.replaceRange('# ', {line: cursor.line, ch: cursor.ch - 1}, {line: cursor.line, ch: cursor.ch});
						CodeMirrorEditor.focus();					
						CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
					
					}
					else {
						
						CodeMirrorEditor.replaceSelection('# ');
						CodeMirrorEditor.focus();					
						CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
					}

					

				});

				$('#insert-bold').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('****')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
				});

				$('#insert-media').bind('click', function () {

					hideKeyboard();

					var footheight = $('#upload-file').height() + 35 + 1;
                    $('.foot').height(footheight)

					if ($('.foot').height() > 35) {
						footheight = 35;
					}

					//$('.foot').animate({height: footheight}, 300);

				});

				$('#insert-quote').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('```\n\n```')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line + 1, 0);
				});

				$('#insert-terminal').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('> ')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line + 2, 0);
				});

				$('#insert-add').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('+')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-minus').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('-')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-percent').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('%')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-exclamation').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('!')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-code').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection(':% %:')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 3);
				});

				$('#insert-indent').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('\t')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 1);
				});

				$('#insert-link').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('![](http://)')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 2);
				});

				$('#insert-check').bind('click', function () {
					var cursor = CodeMirrorEditor.getCursor();
					CodeMirrorEditor.replaceSelection('- [x] ')
					CodeMirrorEditor.focus();					
					CodeMirrorEditor.setCursor(cursor.line, cursor.ch + 6);
				});


				$('#foot-tools-left-wrapper').bind('mousedown', function (e) {
					premouse = mouseCoords(event);
			        ftlwm = true;
			    });

			    $('#foot-tools-left-wrapper').bind('touchstart', function (e) {
			    	//e.preventDefault();

		            var touch;

		            if (window.navigator.msPointerEnabled) {
		                touch = e;
		            } else {
		                touch = e.touches[0];
		            }

		            premouse = mouseCoords(touch);
		            ftlwm = true;
			    });

			    $('#file-img-upload').bind('change', function () {
			    	var obj = document.getElementById('file-img-upload');

			    	if (obj.files) {

			            for (var i = 0; i < obj.files.length; i++) {

			                var fr = new FileReader();

			                fr.onload = (function (file, evt) {

			                    return function (evt) {

			                    	
			                        upload_img(file);
			                    }

			                })(obj.files[i]);

			                fr.readAsDataURL(obj.files[i])
			            }

			        }

			    });
                
                

			}

			$(document).bind('mousemove', function (e) {
				var nowmouse = mouseCoords(event);
		        ftlwmMove(nowmouse);
		    });

		    $(document).bind('mouseup', function (e) {
		    	ftlwmEnd();
		    });

		    $(document).bind('touchmove', function (e) {

		    	//e.preventDefault();

	            var touch;

	            if (window.navigator.msPointerEnabled) {
	                touch = e;
	            } else {
	                touch = e.touches[0];
	            }

	            var nowmouse = mouseCoords(touch);

		        ftlwmMove(nowmouse);
		    });

		    $(document).bind('touchend', function (e) {
		    	ftlwmEnd();
		    });




			//鼠标坐标获取
		    function mouseCoords(touch) {

		        if (touch.pageX || touch.pageY) {
		            return { x: touch.pageX, y: touch.pageY };
		        }
		        else {

		            return {
		                x: touch.clientX + document.body.scrollLeft - document.body.clientLeft,
		                y: touch.clientY + document.body.scrollTop - document.body.clientTop
		            };
		        }
		    }

			function setSize() {
                //console.log("setSize")
				var initfootheight = 35;
                //var viewHeight = window.innerHeight;
                var viewHeight = $('.warpper').height();
				var content_height = viewHeight - ($('.title').height() + 1) - $('.head').height() - initfootheight;
				$('.content').height(content_height);
				CodeMirrorEditor.setSize('auto', content_height + 'px');

				var md_wrapper_height = $('.preview').height() - ($('.preview-foot').height() + 1);
				$('#md-wrapper').height(md_wrapper_height);

				var foot_tools_wrapper_width = 0;

				for (var i = 0; i < $('.tools-left-warpper i').length; i++) {
					foot_tools_wrapper_width += $($('.tools-left-warpper i')[i]).width() + 25 + 1;
				}

				$('.tools-left-warpper').width(foot_tools_wrapper_width);
			}

			function showPreview() {
				$('.preview').show();
			}

			function hidePreview() {
				$('.preview').hide();
			}

			function ftlwmMove(nowmouse) {

				if (typeof(ftlwm) != 'undefined' && ftlwm) {

		            if (nowmouse) {
		            	var mvx = nowmouse.x - premouse.x

		            	if (typeof(ftlwm_x) != 'undefined') {
		            		mvx += ftlwm_x;
		            	}
		            	
		            	$('#foot-tools-left-wrapper').css('left', mvx);

		            }
		        }

			}

			function ftlwmEnd() {

				if (typeof(ftlwm) != 'undefined' && ftlwm) {
		    		
		    		ftlwm_x = parseFloat($('#foot-tools-left-wrapper').css('left'));
		
	          		var minleft = ($('#foot-tools-left-wrapper').width() - $('.foot .tools-left').width() - 20) * -1;

	    			if (minleft < 0)
	    			{
	    				if (ftlwm_x > 0)
		            	{
		            		$('#foot-tools-left-wrapper').animate({left: '0'}, 100, function () {
		            			ftlwm_x = 0;
		            		});
		            	}
		            	else if (ftlwm_x < minleft)
		            	{
		            		$('#foot-tools-left-wrapper').animate({left: minleft}, 100, function () {
		            			ftlwm_x = minleft;
		            		});
		            	}
	    			}
	    			else
	    			{
	            		$('#foot-tools-left-wrapper').animate({left: '0'}, 100, function () {
	            			ftlwm_x = 0;
	            		});
	    			}

		        	ftlwm = false;
		    	}
		        
			}

			function hideKeyboard() {
    			document.activeElement.blur();
    			//console.log(CodeMirrorEditor)
    			//CodeMirrorEditor.blur();
    			$('#title').blur();
			}

			function submitmd () {
				if (typeof(issubmit) == 'undefined' || !issubmit) {
					var post_name = $('#title').val();
					var post_body_md = encodeURIComponent(CodeMirrorEditor.getValue());
					var postid = $('#postid');
					var posturl = '/user/add';
					if (postid.length) {
						posturl = '/user/edit/' + postid.val();
					}

					$.ajax({
						type: 'POST',
  						url: posturl,
  						data: 'name=' + post_name + '&body_md=' + post_body_md,
  						beforeSend: function () {
  							issubmit = true;
  						},
  						success: function (result) {

  							if (result) {
  								if (result.code == 200) {
                                    dc.save();
  									window.location.href = result.nexturl;
  								}
  							}

  							issubmit = false;
  						},
  						error: function (er) {
  							console.log(er)
  							issubmit = false;
  						}
					});
				}
			}

			function deletepost () {
				if (typeof(issubmit) == 'undefined' || !issubmit) {
					
					var postid = $('#postid');
					var geturl = '/user/del/';

					if (postid.length == 0) {
						alert('您还没有保存!');
						return;
					}

					geturl += postid.val()

					$.ajax({
						type: 'GET',
  						url: geturl,
  						beforeSend: function () {
  							issubmit = true;
  						},
  						success: function (result) {

  							if (result) {
  								if (result.code == 200) {
  									window.location.href = result.nexturl;
  								}
  								else {
  									alert('删除失败')
  								}
  							}

  							issubmit = false;
  						},
  						error: function (er) {
  							console.log(er)
  							issubmit = false;
  						}
					});
				}
			}


		    function upload_img(file) {

		    	$('.upload-type').hide();
			    $('.upload-msg').show();

		        var xhr = new XMLHttpRequest();

		        xhr.upload.addEventListener('progress', function(evt) {
		            if (evt.lengthComputable) {
		            	var percentComplete = parseInt(evt.loaded / evt.total * 100);
		            	$('#probar-img').html(percentComplete + '%');
		            	$('#probar-img').attr('aria-valuenow', percentComplete);
		            	$('#probar-img').width(percentComplete + '%');
		            	
		            }

		        }, false);

		        xhr.addEventListener('load', function(evt) {

		        	if (evt.currentTarget.status == 200) {
						

		        		var result = $.parseJSON(evt.currentTarget.responseText);

		        		var cursor = CodeMirrorEditor.getCursor();
		        		var imgmd = '![' + result.name + '](' + result.url + ')';
						CodeMirrorEditor.replaceSelection(imgmd)
						CodeMirrorEditor.focus();					
						CodeMirrorEditor.setCursor(cursor.line, cursor.ch + imgmd.length);
		        		
                		$('.upload-type').show();
				        $('.upload-msg').hide();

				        $('#probar-img').html('0%');
			            $('#probar-img').attr('aria-valuenow', 0);
			            $('#probar-img').width('0%');

			            $('.foot').animate({height: 35}, 300);
            		}
		        	
		            
		        }, false);

		        xhr.addEventListener('error', function (evt) {
		        	
		            
		        }, false);

		        xhr.addEventListener('abort', function () {
		        	
		        }, false);

		        // 开始上传
		        xhr.open('POST', '/user/uploadimg/' + file.name + "/" + file.type, true);
		        xhr.send(file);  
		        
		    }
			
		</script>
	</body>
</html>